<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Flexbox Grid
    link(rel="stylesheet", href="node_modules/flexboxgrid/css/flexboxgrid.css")
    link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.8.2/css/all.css")
    link(rel="stylesheet", href="assets/css/index.css")
  body
      <!-- header -->
      header#main-header
        .container
          .row.end-sm.end-md.end-lg.middle-xs.middle.sm.middle.md.middle.lg
            .col-xs-2.col-sm-2.col-md-2.col-lg-2
              h1
                span.primary-text FlexboxGrid
            .col-xs-12.col-sm-10.col-md-10.col-lg-10
              nav#navbar
                ul
                  li.current
                    a(href="home.html") Home
                  - const links = ['About', 'Services', 'Contact']
                    each link in links
                      li
                          a(href=link.toLowerCase()+'.html')=link
      <!-- header -->

      <!-- section showCase -->
      section#showCase
        .container
          .row.center-xs.center-sm.center-md.center-lg.middle-xs.middle-sm.midlle-md.middle-lg
              .col-xs-12.col-sm-12.col-md-12.col-lg-12.showcase-content
                h1 Bienvenue sur 
                  span.primary-text FlexboxGrid  
                p|Lorem ipsum dolor sit amet consectetur adipisicingelit Fugiat, ea
      <!-- section showCase -->

      <!-- section features -->

      section#features
        .container
          .row.center-xs.center-sm.center-md.center-lg
            .col-xs-12.col-sm-12.col-md-12.col-lg-12
              h2 caractéristiques de base
              p Ce qui est inclu
              .row.center-xs.center-sm.center-center-md.center-lg
                .col-xs-12.col-sm-4.col-md-4.col-ls-4
                  i.fa.fa-dashboard
                  h4 Entièrement optimisé
                  p Lorem ipsum dolor sit amet.
                .col-xs-12.col-sm-4.col-md-4.col-ls-4
                  i.far.fa-question-circle
                  h4 Support gratuit
                  p Lorem ipsum dolor sit amet.
                .col-xs-12.col-sm-4.col-md-4.col-ls-4
                  i.fa.fa-rocket
                  h4 Mises à jour gratuites
                  p Lorem ipsum dolor sit amet.

              .row.center-xs.center-sm.center-center-md.center-lg
                .col-xs-12.col-sm-4.col-md-4.col-ls-4
                  i.fas.fa-chart-line
                  h4 garantie de disponibilité
                  p Lorem ipsum dolor sit amet.
                .col-xs-12.col-sm-4.col-md-4.col-ls-4
                  i.fa.fa-users
                  h4 Multi-utilisateur
                  p Lorem ipsum dolor sit amet.
                .col-xs-12.col-sm-4.col-md-4.col-ls-4
                  i.fa.fa-plug
                  h4 Mises à jour gratuites
                  p Lorem ipsum dolor sit amet.

      <!-- section features -->

      <!-- section info -->

      section#info
        .container
          .row.center-xs.center-sm.center-dm.center-lg.middle-xs.middle-sm.middle-md.middle-lg  
            .col-xs-12.col-sm-6.col-md-6.col-log-6
              - const myAttributes = {"src": "assets/img/iphone.png",  "alt": "images iphone"}
              img&attributes(myAttributes)
            .col-xs-12.col-sm-6.col-md-6.col-log-6
              h2 caractéristiques de base
              ul
                li
                    i.fas.fa-check
                    |Lorem, ipsum
                li
                    i.fas.fa-check
                    |Lorem, ipsum
                li
                    i.fas.fa-check
                    |Lorem, ipsum
                li
                    i.fas.fa-check
                    |Lorem, ipsum
                li
                    i.fas.fa-check
                    |Lorem, ipsum
                li
                    i.fas.fa-check
                    |Lorem, ipsum

      <!-- section info -->

      <!-- section company -->
      section#company
        .container
          .row
            .col-xs-12.col-sm-4.col-md-4.col-lg-4
              h4 contactez-nous
              ul
                li 
                    i.fas.fa-phone
                    |0612345687
                li
                    i.fas.fa-envelope
                    |flexboxgrid@test.test
                li
                    i.fas.fa-map
                    |1 rue flexboxgrid 10000 Flex

            .col-xs-12.col-sm-4.col-md-4.col-lg-4
              h4 A propos de nous
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam obcaecati natus architecto quae sapiente atque eveniet officia soluta debitis delectus!
            
            .col-xs-12.col-sm-4.col-md-4.col-lg-4
              h4 Neswletter
              p Lorem ipsum dolor sit amet.
              form(action="", method="post")
                input(type="text", name="email", placeholder="Met ton mail")
                button(type="submit", name="button") Submit
      <!-- section company -->

      <!-- footer -->

      footer#main-footer
        .container
          .row.center-xs.center-sm.center-md.center-lg
            .col-xs-12.col-sm-12.col-md-12.col-lg-12
              p Copyright &copy; 2019 | FlexBoxGrid 


      <!-- footer -->
              





