body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 17px;
  line-height: 1.5em;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

.container {
  margin: auto;
}

:root {
  --color1 :#56a79a;
  --color2 :#888;
  --color3 :#ccc;
  --color4 :#333;
  --color5 :#fff;
}

/* CLASSES */
.primary-text {
  color: var(--color1);
}

.primary-background {
  background: var(--color1);
}

/* HEADER */
#main-header {
  border-bottom: 1px solid var(--color1);
}

/* NAVBAR */
#navbar {
  text-transform: uppercase;
}

#navbar li {
  display: inline;
  padding-right: 20px;
  list-style: none;
}

#navbar a {
  text-decoration: none;
  color: var(--color2);
  transition: color 560ms ease;
}

#navbar li.current a, #navbar a:hover {
  color: var(--color1);
  border-bottom: 3px solid var(--color1);
  padding-bottom: 3px;
}

/* SHOWCASE */
#showCase {
  background: url('../img/showcase.jpg') no-repeat center center;
  border-bottom: 1px solid var(--color1);
  margin-bottom: 30px;
}

#showCase .row {
  height: 600px;
}

#showCase h1 {
  font-size: 50px;
  margin: 0;
  padding-bottom: 20px;
}

#showCase p {
  color: var(--color3);
  margin: 0;
}

#showCase .showcase-content {
  background: var(--color4);
  color: var(--color5);
  
  padding: 40px;
  opacity: .9;
}